* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCCCFF;
}

.window__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    // height: 100vh;
}

.file__window {
    width: 100%;
    max-width: max-content;
    display: flex;
    justify-content: center;
}

.documents,
.preview__window {
    border: 1px solid black;
    overflow: auto;
    padding: 25px;
    width: 500px;
    height: 650px;
    font-size: 16px;
    line-height: 22px;
}

.documents {
    margin-right: 15px;
    width: 300px;
    outline: none;
}

.documents option {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.body__window,
.select__window,
.bottom__window {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin: 0 auto 20px;
}

.body__window {
    flex-wrap: wrap;
}

.form__input,
.form__select,
.form__btn {
    padding: 10px 15px;
    margin: 5px;
    width: 170px;
}

.form__select,
.form__btn,
input[type="file"] {
    cursor: pointer;
}

input[type="file"] {
    width: max-content;
    outline: none;
}


